<div class="d-flex flex-column h-100 text-center">
  <main class="container mt-auto mb-auto">
    <h1 class="display-1">MongoDB</h1>
    <p class="lead">Let's convert your GUID to the BinData.</p>
    <div class="mx-auto col-md-6 my-3">
      <input class="form-control text-center fw-bolder py-3" type="text" [formControl]="guid" autofocus />
    </div>
    <div class="mx-auto col-md-6">
      <div class="alert alert-primary small my-1 py-1">
        <code>{{ uuid(guid.value) }}</code>
      </div>
      <div class="alert alert-warning small my-1 py-1">
        <code>C#: {{ csuuid(guid.value) }}</code>
      </div>
      <div class="alert alert-success small my-1 py-1">
        <code>JAVA: {{ juuid(guid.value) }}</code>
      </div>
      <div class="alert alert-danger small my-1 py-1">
        <code>PYTHON: {{ pyuuid(guid.value) }}</code>
      </div>
    </div>
    <div>
      <a class="text-dark" href="https://github.com/zeroamps/mongodb"><span class="bi bi-github fs-1"></span></a>
    </div>
  </main>
</div>
